html {
    height: 100%
}

body {
    background: url("/media/nat arm up edited.jpg") no-repeat center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.nav-item {
    font-size: 1rem;
}
#topnav {
    background: white;
}

.logo-font{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.classes-summary {
    margin:15px;
    background: linear-gradient(to right, #70f0eb 0%, #f9aca4 100%);
    padding-top:15px;
}

.classes-description{
    margin:0px 15px 15px;
}

.img-tns{
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.classes-button {
    background: white;
    color: black;
    min-width: 260px;
}

.classes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
}

.btn-black {
    background: white;
    color: black;
}

.btn-outline-black {
    background: black;
    color: white !important; /* use important to override link colors for <a> elements */
    border: 1px solid white;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: white;
    color: black !important;
}

.classes-button:hover,
.classes-button:active,
.classes-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #70f0eb;
    color: white;
}

.text-black {
    color: #000 !important;
}

/* used to centre the button below brand tagline on index.html */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.container-classes {
    margin-top:10px;
    font-family: 'Noto Sans', sans-serif;
}
.tagline {
    color:white !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* --------------------------------- Bootstrap Toasts */
.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.message-hr{
    width:75%;
    margin-top: 2px; ;
    margin-bottom: 1px
}
.custom_toast{
    overflow: visible;
}
.toast-body{
    padding: 15px 15px 0px;
}

.toast-capper{
    height: 2px;
}

.toast-grand-total{
    background:#70f0eb;
    padding: 15px;
    font-size: 1.25rem;
    border-top: 1px;
}

/* --------------------------------- Media Queries */

/* Slightly larger container on XL screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .fixed-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
body {
    padding-top:200px
}

@media (max-width: 768px) {
    .body {
    padding-top: 150px;
    }

}

/*
@media (min-width: 1200px) and (max-width:1500px){
    .header-container {
        padding-top: 250px;
    }
    body {
        height: calc(100vh - 250px);
    }
}

@media (min-width: 993px) and (max-width:1200px){
    .header-container {
        padding-top: 240px;
    }
    body {
        height: calc(100vh - 240px);
    }
}

@media (min-width: 768px)  and (max-width:992px){
    .header-container {
    padding-top: 80px;
    }
    body {
        height: calc(100vh - 80px);
    }
}

@media (min-width: 662px) and (max-width:768px){
    .header-container {
        padding-top: 135px;
    }
    body {
        height: calc(100vh - 135px);
    }
}

@media (min-width: 520px) and (max-width:661px){
    .header-container {
        padding-top: 135px;
    }
    body {
        height: calc(100vh - 135px);
    }
}

@media (min-width: 320px) and (max-width:519px)
{.header-container {
    padding-top: 150px;
    }
    body {
        height: calc(100vh - 175px);
    }
}