html {
    height: 100%
}

body {
    background: url("/media/nat arm up edited.jpg") no-repeat center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.nav-item {
    font-size: 1rem;
}
#topnav {
    background: white;
}

.tns-font{
    font-family: 'Noto Sans', sans-serif;
}

.tns-font-new {
    font-size: 1.5rem;
    font-weight: bold;
}
.classes-description{
    margin:0px 15px 15px;
}

.img-tns{
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.btn-edit{
    border: 1px solid #70f0eb;
}

.btn-edit:hover,
.btn-edit:active,
.btn-edit:focus{
    background: #70f0eb;
    color: blue
}

.btn-delete{
    border: 1px solid #70f0eb;
    color: red;
}

.btn-delete:hover,
.btn-delete:active,
.btn-delete:focus{
    background: #70f0eb;
    color: red;
}
.classes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #58d1cd;
    background: white;
    color: black;
    min-width: 230px;
    }

.classes-button:hover,
.classes-button:active,
.classes-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #70f0eb;
    color: #000;
}

.btn-black {
    background: #70f0eb;
    color: black;
    margin-bottom: 10px;
}

.btn-outline-black {
    background: black;
    color: white !important; /* use important to override link colors for <a> elements */
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #70f0eb;
    color: black !important;
}


.text-black {
    color: #000 !important;
}

/* used to centre the button below brand tagline on index.html */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.container-classes {
    margin:10px 0px;
    font-family: 'Noto Sans', sans-serif;
}
.tagline {
    color:white !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* --------------------------------- Bootstrap Toasts */
.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.message-hr{
    width:75%;
    margin-top: 2px; ;
    margin-bottom: 1px
}
.custom_toast{
    overflow: visible;
}
.toast-body{
    padding: 15px 15px 0px;
}

.toast-capper{
    height: 2px;
}

.toast-grand-total{
    padding: 15px;
    font-size: 1.25rem;
    border-top-style: solid;
    /*border-top-color:green;*/
}

.to-checkout{
    background:#70f0eb;
}

/* --------------------------------- Media Queries */

/* Slightly larger container on XL screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 768px) {
    .fixed-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
body {
    padding-top:200px
}

@media (max-width: 768px) {
    .body {
    padding-top: 150px;
    }

}

.classes-summary {
    margin:30px 15px 15px 15px;
    background: linear-gradient(to right, #70f0eb 0%, #f9aca4 100%);
    padding-top:15px;
    /* box-shadow from w3schools: https://www.w3schools.com/css/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
